@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../fonts/Segoe\ UI.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../fonts/Segoe\ UI\ Italic.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../fonts/Segoe\ UI\ Bold.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../fonts/Segoe\ UI\ Bold\ Italic.woff') format('woff');
}

body {
    font-family: 'Segoe UI Regular', sans-serif;
}


h1 {
    font-family: 'Segoe UI Bold', sans-serif;
}

h2 {
    font-family: 'Segoe UI Bold', sans-serif;
}

h3 {
    font-family: 'Segoe UI Bold', sans-serif;
}


.grey {
    background-color: grey;
}

.mainContainer {
    margin-top: 50px;
}

.formContainer {
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);

}

.formField {
    border-radius: 8px;
    border: 1px solid black;
    width: 350px;
}

#termsCheckboxLabel {
    color: rgb(168, 168, 168);
}

#termsCheckbox {
    color: rgb(168, 168, 168);
    border-radius: 10px;
}

#wavesBG {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: -100;
}

#submitBtn {
    background-color: #1ecbe1;
    color: white;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 120px;
    text-align: left;
}

#submitBtn:hover {
    background-color: #19a2b4;

}


/*Larger for mobile */
@media only screen and (min-width: 1280px) {

    .mainContainer {
        margin-top: 200px;
    }

    #wavesBG {}

}